{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": ["@typescript-eslint", "import", "jsx-a11y", "react", "import"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:storybook/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "eslint-config-prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "sort-imports": 0,
    "import/order": [2, { "alphabetize": { "order": "asc" } }],
    "no-restricted-imports": [
      "error",
      {
        // features, ../のimport禁止
        "patterns": ["@/features/*/*", "@/features"]
      }
    ]
  },
  "overrides": [
    // import並び替えルールの設定
    {
      "files": ["src/**/*.{js,jsx,ts,tsx}"],
      "rules": {
        "import/order": [
          "error",
          {
            "groups": ["builtin", "external", "parent", "sibling", "index", "object", "type"],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "src",
                "group": "external",
                "position": "after"
              }
            ],
            "newlines-between": "always"
          }
        ]
      }
    },
    // pages以下のみでfeaturesのimportを許可
    {
      "files": ["src/pages/*.stories.*", "src/pages/*/*.stories.*", "src/pages/*.tsx", "src/pages/*/*.tsx"],
      "rules": {
        "no-restricted-imports": [
          "off",
          {
            "patterns": ["@/features"]
          }
        ]
      }
    }
  ]
}
